.banner {
    background-image: url(img/banner.jpg);
    height: 300px;
    border-radius: 10px;
}

h1 {
    padding: 80px;
}

#result-heading {
    border: solid   black;
    border-radius: 10px;
    margin-top: 10px;
}